html{
    font-size: 62.5%;
}
body{
    font-size: 16px;/*1 rem = 10px*/
    font-family: 'Montserrat', sans-serif;
}

.hdr{
    height: 100px;
    width: 100%;
    position:relative;
    padding: 0;
    background-color: blue;
    background-size: cover;
    
}

.container{
    height: 100%;
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
}

.c-2{
    display: flex;
    justify-content: center;
    align-items:center;
}

.space{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.distribucion{
    display: flex;
    flex-direction: column; 
}

.btn{
    width: 10rem;
    height: 2.5rem;
    background-color:blue;
    border-radius: .5rem;
    border-color: blue;
    color: white;
}

.clav{
    margin-top: 3rem;
}

.top{
    display: flex;
    align-items: flex-start;
}

.foot{
    height: 100px;
    width: 100%;
    position: relative;
    padding: 0;
    background-color: blue;
}

.name{
    font-size: 2.5rem;
    margin-bottom: -2rem;
}

.prof{
    font-size: 1.5rem;
}